/*Beneficios*/

.beneficios {
    padding: 60px 40px;
    background-color: black;
    color: white;
    text-align: center;
}

.beneficios h2 {
    font-size: 2rem;
    margin-bottom: 40px;
}

.beneficio-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card-beneficio {
    background:linear-gradient(to bottom, #10103d, #2a1444,#331644, #411146, #4b1129);
    border-radius: 20px;
    padding: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    color: white;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;
}

.card-beneficio:hover {
    transform: translateY(-5px);
}

.card-beneficio h3 {
    font-size: 1.9rem;
    margin-top: 10px;
}

.card-beneficio p {
    font-size: 1.2rem;
    color: rgb(141, 139, 139);
    margin-top: 15px;
}

.card-beneficio img {
    align-self: flex-end;
    width: 40px;
    height: 40px;
    margin-top: 30px;
}

.boton-beneficios{
    background: linear-gradient(to bottom, #10103d, #2a1444,#331644, #411146, #4b1129);
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 40px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
}

.boton-beneficios:hover{
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

.boton-beneficios:active{
    transform: scale(0.95);
}